<!-- Nav bar at top of every page-->
<!-- <div *ngIf="!onLanding()" class="container"> -->
<nav class="nav navtop">
  <!-- <div class="icons">
    <div class="menu">
        <i class="material-icons" id="menu" (click)="toggleNav()">
          menu
        </i>
      </div>
  </div> -->

  <div class="nav-tabs">
    <a class="tab" routerLink="/photobook/portfolio" routerLinkActive="active">gallery</a>
    <a class="tab" routerLink="/photobook/projects" routerLinkActive="active">creative projects</a>
    <a class="tab" routerLink="/photobook/work" routerLinkActive="active">
      client work
    </a>
  </div>

  <div class="logo" routerLink="/photobook">
    <span>Abeiku's</span>
    <span> Photobook</span>
  </div>

  <div class="nav-tabs">
    <a class="tab" routerLink="/photobook/about" routerLinkActive="active">about me</a>
    <a class="tab" routerLink="/photobook/contact" routerLinkActive="active">contact me</a>
  </div>
</nav>
<!-- </div> -->