<div class="intro">
  <div class="intro-nav">
    <img src="../assets/logo/trans.png">

    <div style="height:100%; margin:auto;">
      <div><a routerLink="work">MY WORK</a></div>
      <div><a routerLink="work">BOOK ME</a></div>
      <div><a routerLink="portfolio">GALLERY</a></div>
    </div>
  </div>
  <div class="intro-img">
    <!-- <img src="images/OON4498.jpg"> -->
    <!-- <img src="projects/chioma/THEONE.jpg"> -->
    <!-- <img src="projects/uncannyvibrationss/_OON4753.jpg"> -->
    <!--<img src="projects/uncannyvibrationss/toldvirgilwriteflickonmyflick.png">-->
  </div>
</div>