<div class="intro">
  <div class="intro-nav">
    <div class="work" routerLink="work"><span>WORK</span></div>
    <div class="port" routerLink="portfolio"><span>GALLERY</span></div>
    <div class="proj" routerLink="projects"><span>PROJECTS</span></div>


  </div>
  <div class="intro-img" routerLink="about">

    <img src="../assets/logo/favicon.png" (contextmenu)="rightClick()">
    <span>BOUT</span>

    <!-- <div><a routerLink="work">BOOK ME</a></div> -->

    <!-- <img src="images/OON4498.jpg"> -->
    <!-- <img src="projects/chioma/THEONE.jpg"> -->
    <!-- <img src="projects/uncannyvibrationss/_OON4753.jpg"> -->
    <!--<img src="projects/uncannyvibrationss/toldvirgilwriteflickonmyflick.png">-->
  </div>
</div>