<div class="about page">
  <div id="about-pic">
    <div class="down">
      <a class="material-icons expand-more" (click)="scroll('d')" role="button" data-slide="next" aria-hidden="true">
        expand_more
      </a>
    </div>
  </div>
  <div class="content">
    <div id="about-fav">
      <img style="border-radius: 5%;" src="../assets/images/self/self1.jpg" (contextmenu)="rightClick()"
        draggable="false">
    </div>
    <div id="about-text">
      <h1>Raheel Abeiku Yanful</h1>
      <h2> <a href="https://instagram.com/abeikuyanful" target="_blank">
          <i class="fa fa-instagram"></i>
        </a> |
        <a href="https://www.github.com/ryanful" target="_blank">
          <i class="fa fa-github"></i>
        </a> |
        <a href="https://www.linkedin.com/in/ryanful/" target="_blank">
          <i class="fa fa-linkedin-square"></i>
        </a> |
        <a href='../assets/RaheelsResume.pdf' target="_blank">
          <i class="fa fa-file-text"></i>
        </a>
      </h2>
      <p>Hi! My name is <b>Raheel Abeiku Yanful</b>. I am currently a junior at Cornell
        University pursing a Computer Science degee.

        <br><br>
        I've been heavily involved with the art of photography for 4+ years now. Some of
        my best work comes unplanned and unexpected, after long periods of feeling uninspired.

        <br><br>
        For any inquiries, email me or dm me on Instagram!
      </p>
      <p>
        IG: <b>@abeikuyanful</b>
        <br>Email: <b>rah.captures@gmail.com</b>
      </p>
      <a href='../assets/RaheelsResume.pdf' target="_blank">
        <i class="fa fa-file-text"></i>
        Resume
      </a>

    </div>


  </div>
</div>