<div class="page">
  <div class="sidebar">
    <div class="contents">
      <h1>Table of Contents</h1>
      <div class="tabs">
        <a class="tab" routerLink="about" routerLinkActive="active">about</a>
        <a class="tab" routerLink="portfolio" routerLinkActive="active">artistic intro/gallery</a>
        <a class="tab" routerLink="projects" routerLinkActive="active">creative projects</a>
        <a class="tab" routerLink="work" routerLinkActive="active">work</a>
        <!-- <a>timeline</a> -->
        <a class="tab" routerLink="contact" routerLinkActive="active">contact me</a>
      </div>
    </div>
  </div>
</div>