.header {
  display: flex;
  justify-content: center;
  height: 9vh;
}

.content {
  display: flex;
  /* width: 100vw; */
  height: 80vh;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background: linear-gradient(to right,#FFAD94, #FFCF88);
}

.left img {
  height: 64%;
  width: 50%;
  border-radius: 1vh;
  object-fit: cover;
}

.right {
  width: 50%;
  background-color: #efefef;
}

.right .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 11%;  
}