<div class="header">
  <h1>About Me</h1>
</div>
<div class="content">
  <div class="left">
    <img src="../../../assets/images/self/Faith & Friends-205.jpg" alt="">
  </div>

  <div class="right">
    <div class="container">
      <p>
        My name is Raheel Abeiku Yanful. I am a Ghanaian-American born and raised in the Bronx.
      </p>
      <div class="section">
        <span>Photography</span>
        <p>
          I've been heavily involved with the art of photography for 5+ years now. Some of my best work comes unplanned
          and
          unexpected, after long periods of feeling uninspired.
        </p>
      </div>
      <div class="section">
        <span>Other Interests</span>
        <p>
          Basketball, Biking, Chess, Rapping, Working Out and Computer Science.
        </p>
      </div>

      Contact me!

      <!-- IG: @abeikuyanful -->
    </div>
  </div>
</div>

<app-photobook-nav></app-photobook-nav>