<!-- Welcome Message -->
<div class="welcome">
  <h1>Hi</h1>
  <p>My name is Raheel <b>Abeiku</b> Yanful. Check out my personal website and
    digital photobook using the links below!</p>
</div>

<!-- App Links -->
<div class="app-links">
  <!-- Link to Personal -->
  <a href="">
    <img src="../assets/screenshots/personal - about.png" alt="Screenshot of personal website">
    <span>Personal Website</span>
  </a>
  <!-- Link to Photobook -->
  <a routerLink="photobook">
    <img src="../assets/screenshots/PHOTOlanding.png" alt="Screenshot of personal website">
    <span>Digital Photobook</span>
  </a>
</div>