.proj-gallery {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.image img {
  margin:auto;
  max-height: 75%;
  max-width: 95%;
}

.image {
  display: inline-grid;
  width: 50%;
  height: 90vh;
  /* text-align: center; */
  /* padding: 3px; */
  margin: 0;
  /* border: 3px solid #8d5e21; */
}
