<!-- Nav bar at top of every page-->
<div *ngIf="!onLanding()" class="container">
  <nav class="nav navtop">
    <div class="logo">

      <img src="../assets/logo/trans.png" routerLink="">

    </div>

    <div class="nav-tabs">
      <a class="tab" routerLink="portfolio" routerLinkActive="active">gallery</a>
      <a class="tab" routerLink="work" routerLinkActive="active">work</a>
      <div class="dropdown">
        <a class="tab" routerLink="projects" routerLinkActive="active">
          projects
        </a>
        <div class="dropdown-content">
          <a [routerLink]="['/gallery', 'proj-risk']">Reem</a>
          <a [routerLink]="['/gallery', 'proj-chi']">Chioma</a>
          <a [routerLink]="['/gallery', 'proj-syd']">Sydney</a>
        </div>
      </div>
      <a class="tab" routerLink="about" routerLinkActive="active">about</a>
    </div>
  </nav>
</div>