<!-- Nav bar at top of every page-->
<div *ngIf="!onLanding()" class="container">
  <nav class="nav navtop">
    <div class="icons">
      <div class="logo">
        <img src="../assets/logo/trans-notext.png" routerLink="" (contextmenu)="rightClick()" draggable="false">
      </div>
      <div class="menu">
        <i class="material-icons" id="menu" (click)="showNav()">
          menu
        </i>
      </div>
    </div>

    <div class="nav-tabs">
      <a class="tab" routerLink="portfolio" routerLinkActive="active">GALLERY</a>
      <div class="dropdown">
        <a class="tab" routerLink="work" routerLinkActive="active">WORK</a>
        <div class="dropdown-content">
          <a class="tab" [routerLink]="['/panel', 'work-grad']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">Graduations</a>
          <a class="tab" [routerLink]="['/panel', 'work-events']" routerLinkActive="active">Events</a>
          <a class="tab" [routerLink]="['/panel', 'work-hs']" routerLinkActive="active">Headshots</a>
          <a class="tab" routerLink="/work">See More</a>
        </div>
      </div>
      <div class="dropdown">
        <a class="tab" routerLink="projects" routerLinkActive="active">
          PROJECTS
        </a>
        <div class="dropdown-content">
          <a class="tab" [routerLink]="['/gallery', 'proj-risk']" routerLinkActive="active">Reem</a>
          <a class="tab" [routerLink]="['/gallery', 'proj-albums']" routerLinkActive="active">One Love</a>
          <a class="tab" [routerLink]="['/gallery', 'proj-uncanny']" routerLinkActive="active">Uncanny Vibrations</a>
          <a class="tab" [routerLink]="['/gallery', 'proj-chi']" routerLinkActive="active">Chioma</a>
          <a class="tab" [routerLink]="['/gallery', 'proj-syd']" routerLinkActive="active">Sydney</a>
        </div>
      </div>
      <a class="tab" routerLink="about" routerLinkActive="active">ABOUT</a>
    </div>

  </nav>
</div>