<div style="height: 100%;">
  <div class="panel page" id="{{panel.id}}">

    <div class="prev">
      <i [style.visibility]="elementVisible('l')" class="material-icons" id="left-chevron" role="button"
        (click)="scroll('l')" data-slide="prev" aria-hidden="true">chevron_left</i>
      <!-- <span class="sr-only">Previous</span> -->
    </div>
    <div>
      <h1>{{panel.title}}</h1>

      <div class="panel-images" (scroll)="checkArrows()">

        <div *ngFor="let member of panel.members" class="image">
          <a [routerLink]="['/gallery', member.id]" #image>
            <img src="{{panel.path + member.cover.name}}" oncontextmenu="return false">
            <div class="panel-text">
              <h3><b>{{member.cover.title}} </b> {{member.cover.date}}</h3>
              <p><u>See more!</u></p>
              <!-- <p>{{member.cover.desc}}</p> -->
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="next">
      <i [style.visibility]="elementVisible('r')" class="material-icons" id="right-chevron" (click)="scroll('r')"
        role="button" data-slide="next" aria-hidden="true">
        chevron_right
      </i>
      <!-- <span class="sr-only">Next</span> -->
    </div>
  </div>
</div>